[Unit]
Description=prometheus
After=syslog.target network.target
[Service]
Type=simple
RemainAfterExit=no
WorkingDirectory=/var/lib/prometheus
User=prometheus
Group=prometheus
Environment="PROMETHEUS_CONFIG_FILE=/etc/prometheus/prometheus.yaml"
Environment="PROMETHEUS_LOG_LEVEL=info"
Environment="PROMETHEUS_WEB_LISTEN_ADDRESS=:9090"
Environment="PROMETHEUS_WORKING_DIRECTORY=/var/lib/prometheus/data"


ExecStart=/usr/lib/prometheus/prometheus -config.file=${PROMETHEUS_CONFIG_FILE} -log.level ${PROMETHEUS_LOG_LEVEL} -web.listen-address=${PROMETHEUS_WEB_LISTEN_ADDRESS} -storage.local.path=${PROMETHEUS_WORKING_DIRECTORY}

[Install]
WantedBy=multi-user.target